<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>242290750149-5nvio5ri4o477gm54n9kjsl90n00dtqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242290750149-5nvio5ri4o477gm54n9kjsl90n00dtqm</string>
	<key>API_KEY</key>
	<string>AIzaSyAIP8_7fXISgH5DFkFTgE3hfcvnACxDNZk</string>
	<key>GCM_SENDER_ID</key>
	<string>242290750149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Cambia.MLKitOCR</string>
	<key>PROJECT_ID</key>
	<string>ml-kit-ocr</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-kit-ocr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242290750149:ios:abf8d1a2e5387f6a</string>
	<key>DATABASE_URL</key>
	<string>https://ml-kit-ocr.firebaseio.com</string>
</dict>
</plist>